ul {
	padding: 0rpx;
}

li {

	list-style: none;
}

.container{
	padding-top: 160rpx;
	background-color: #f4f4f4;
}

.top{
	margin-top: 80rpx;
	position: relative;
	background-color: #fff;
}

.main{
	width: 95%;
	margin: auto;
	margin-top: 5px;
}

.page{
	
	height: 90vh;
}

.nav {
	width: 88%;
	position: relative;
	overflow: auto;
}

.nav ul {
	white-space: nowrap;
}

.nav::-webkit-scrollbar {
	display: none;
}

.nav ul li {
	height: 65rpx;
	padding-top: 15rpx;
	display: inline-block;
}

.nav_tag{
	font-size: 28rpx;
	color: #646464;
	margin-right: 3px;
	padding: 2px;
	border-radius: 8px;
	text-align: center;
	line-height: 40rpx;
	width: 80rpx;
	height: 40rpx;
}

.nav_tag:hover{
	background-color: #f5cfcf;
	color: #f56c6c;
}

.right_icon{
	position: absolute;
	top: 80rpx;
	right: 0px;
}


.user_item{
	margin-bottom: 5px;
	padding: 6px;
	border: 1px solid #f4f4f4;
	background-color: #fff;
	border-radius: 8px;
}

.mtl_avatar{
	margin-right:5px ;
}

.main_top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main_top_left{
	display: flex;
	align-items: center;
	justify-content: left;
}

.mtl_user_top{
	display: flex;
	align-items: center;
	justify-content: left;
}

.mtl_user_top .name{
	font-size: 26rpx;
}

.mtl_user_top .time{
	font-size: 24rpx;
	color: #646464;
}

.mtl_user_bottom{
	color: #646464;
	font-size: 24rpx;
	display: flex;
	align-items: center;
	justify-content: left;
}

.mtl_user_bottom_rz{
	background-color: #00aaff;
	color: #fff;
	text-align: center;
	width: 90rpx;
	line-height: 38rpx;
	height: 38rpx;
	border-radius: 4px;
}


.main_top_right{
	display: flex;
	align-items: center;
	justify-content: left;
}

.address{
	color: #646464;
	font-size: 28rpx;
}


.word{
	clear: both;
	/* 清除左右浮动 */
	word-break: break-word;

	text-overflow: -o-ellipsis-lastline;
	/* 溢出内容隐藏 */
	overflow: hidden;
	/* 文本溢出部分用省略号表示		 */
	text-overflow: ellipsis;
	/* 特别显示模式	 */
	display: -webkit-box;
	/* 行数		 */
	-webkit-box-orient: vertical;

	/* CSS 3 (and 2.1 as well, actually) */
	word-break: break-all
}

.mc_title{
	font-size: 30rpx;
	-webkit-line-clamp: 1;
	line-clamp: 1;
}

.mc_content{
	font-size: 28rpx;
	-webkit-line-clamp: 3;
	line-clamp: 3;
}

.mc_imgs{
	position: relative;
}

.img_count{
	background-color: #7a7a7a;
	position: absolute;
	text-align: center;
	width: 30rpx;
	height: 45rpx;
	right: 30rpx;
	bottom: 14rpx;
	opacity: 0.5;
	color: #fff;
}

.mc_imgs image{
	margin-right: 3px;
	width: 220rpx;
	height: 220rpx;
	object-fit: cover;
}

.mc_tags{
	display: flex;
	font-size: 28rpx;
}

.tag_item{
	margin-right: 5rpx;
}

.main_bottom{
	margin-top: 5px;
	border-top: 1px solid #f4f4f4;
}

.main_bottom{
	padding-top: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mb_w{
	display: flex;
	align-items: center;
	justify-content: left;
}

.main_bottom .count{
	font-size: 28rpx;
	color: #848484;
}